* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-image: rgb(216, 216, 216);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar {
    width: 35%;
    background-color: rgb(199, 216, 200);
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
}

.main-content {
    margin-left: 35%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(199, 216, 200, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 56px;
    background: linear-gradient(to right top, #456f52, #527d58, #618b5e, #729963, #84a767, #92b16d, #a1bb74, #b0c57b, #bdce86, #cbd892, #d8e19e, #e5ebaa);
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5),
        -2px -2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    border: none;
    background-color: #95b197;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    width: 49%;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.button:hover {
    color: white;
    background-color: #435e3a;
    z-index: 1;
}

.instruction {
    color: #435e3a;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

input[type="radio"] {
    margin: 8px;
    outline-color: rgba(125, 124, 122, 0.5);
    cursor: pointer;
    width: 15px;
    height: 15px;
}

input[type="radio"]:checked {
    background-color: #77ab7a;
}

p {
    color: #435e3a;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 25%;
    margin-right: 5px;
    margin-left: 10px;
}

#rangeValue {
    font-size: 20px;
    color: #435e3a;
    font-weight: bold;
}

.formContainer {
    width: 95%;
    max-width: 95%;
    min-height: 40vh;
    padding: 20px;
    margin: 0 auto;
    background-color: rgba(80, 99, 84, 0.7);
    color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 8px;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: auto;
    width: 800px;
    white-space: nowrap;
    display: block;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #3b4a3f;
    color: #ecf0f1;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 10;
}

tbody tr:nth-child(even) {
    background-color: #9eafa2;
    color: white;
}

tbody tr:hover {
    background-color: #eaecdf;
    color: black;
    cursor: pointer;
}

table tr.selected {
    background-color: #eaecdf !important;
    color: black !important;
}