* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-image: rgb(216, 216, 216);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    width: 35%;
    background-color: rgb(199, 216, 200);
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
}

.main-content {
    margin-left: 35%;
    width: 65%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(199, 216, 200, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 56px;
    background: linear-gradient(to right top, #456f52, #527d58, #618b5e, #729963, #84a767, #92b16d, #a1bb74, #b0c57b, #bdce86, #cbd892, #d8e19e, #e5ebaa);
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5),
        -2px -2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

input[type="file"] {
    margin-top: 10px;
    margin-bottom: 20px;
}

input[type="submit"] {
    text-decoration: none;
    color: #333;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    border: none;
    background-color: #95b197;
    /* 初始背景色 */
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* 添加平滑的背景色和文本颜色过渡 */
}

input[type="submit"]:hover {
    color: white;
    background-color: #435e3a;
    z-index: 1;
}

.hidden {
    display: none !important;
}

.visible {
    visibility: visible;
    opacity: 1;
    margin-bottom: 20px;
}

.message-container {
    display: flex;
    align-items: flex-start;
    column-gap: 5px;
    height: auto;
    overflow: visible;
}

/* Return to upload page */
.button {
    text-decoration: none;
    color: #333;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    border: none;
    background-color: #95b197;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    width: 40%;
    margin: 0;
}

.button:hover {
    color: white;
    background-color: #435e3a;
    z-index: 1;
}

/* The files have been successfully uploaded and processed. */
.success-message {
    color: #435e3a;
    font-size: 1.2em;
    width: 70%;
    margin: 0;
    display: inline-block;
}

/* Please choose your ways for analysis. */
.function-message {
    color: #435e3a;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.transparent-box {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    text-align: center;
    width: 95%;
    align-items: center;
    justify-content: center;
}

.transparent-box button {
    padding: 15px 20px;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #95b197;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block;
    width: 95%;
    align-items: center;
    justify-content: center;
    margin: 15px;
    border-radius: 8px;
}

.transparent-box button:hover {
    background-color: #435e3a;
    color: white;
}