<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count Interactions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='function2.css') }}">
</head>

<body>
    <div class="sidebar">
        <p>Sidebar content</p>
    </div>
    <div class="main-content">
        <h1>Alpha Find</h1>
        <div class="container">
            <div class="back-box">
                <a href="/" class="button">Return to upload page</a>
                <a href="/?action=showMessage" class="button">Return to analysis page</a>
            </div>
            <div id="chooseMethod" class="instruction">
                Choose your way to count interactions:
            </div>
            <form method="post" action="/count-interactions">
                <div class="options">
                    <label>
                        <input type="radio" name="method" value="interaction_number" onclick="updateContent();">
                        By Interaction number
                    </label>
                    <label>
                        <input type="radio" name="method" value="total_contact_probability" onclick="updateContent();">
                        By total contact probability
                    </label>
                </div>
                <div id="chooseChain" class="instruction">
                    Choose the chain you need to mutate:
                </div>
                <div class="options">
                    <label>
                        <input type="radio" name="chain" value="chainA" onclick="updateContent();">
                        chain A
                    </label>
                    <label>
                        <input type="radio" name="chain" value="chainB" onclick="updateContent();">
                        chain B
                    </label>
                    <div id="tableTitle" style="display:none;"></div>
                </div>
            </form>
            <label for="rangeSlider" class="instruction">Choose a number between 3 and 20:<br>You will get top n as your
                result</label>
            <p>Selected value: <span id="rangeValue">10</span></p>
            <input type="range" id="rangeSlider" name="rangeSlider" min="3" max="20" value="10">
            <button id="confirmButton" class="button">Confirm</button>
        </div>

        <div id="resultContainer" class="formContainer">
            <h2 id="resultTitle">Interaction Count</h2>
            <div id="resultTable"></div> <!-- Container to display the table -->
            <button id="downloadButton" style="display:none;" class="button">Save as CSV</button>
        </div>

    </div>

    <script>
        //set slider number
        const slider = document.getElementById('rangeSlider');
        const output = document.getElementById('rangeValue');
        output.textContent = slider.value;

        slider.oninput = function () {
            output.textContent = this.value;
        }

        document.getElementById('confirmButton').addEventListener('click', function () {
            //set new title for the form
            var method = document.querySelector('input[name="method"]:checked').value;
            var chain = document.querySelector('input[name="chain"]:checked').value;
            var n = document.getElementById('rangeSlider').value;
            var titleText = `Top ${n} by ${method} (${chain})`;
            document.getElementById('resultTitle').textContent = `${titleText}`;

            //get dataframe
            const formData = new FormData();
            formData.append('rangeSlider', document.getElementById('rangeSlider').value);
            formData.append('chain', document.querySelector('input[name="chain"]:checked').value);
            formData.append('method', document.querySelector('input[name="method"]:checked').value);

            fetch('/count-interactions', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    console.log("Received data:", data);
                    const tableContainer = document.getElementById('resultTable');
                    tableContainer.innerHTML = generateTableHTML(data.data);
                    bindRowClickEvents();

                    // 显示下载按钮
                    const downloadButton = document.getElementById('downloadButton');
                    downloadButton.style.display = 'block'; // 显示按钮
                    downloadButton.onclick = function () {
                        window.location.href = `/download-csv/${data.csvPath}`; // 设置按钮的点击行为
                    };
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                });
        });

        function generateTableHTML(data) {
            let tableHTML = '<table border="1"><tr>';
            // add columns in a fixed order
            const columnOrder = ["#", "Residue_ID", "Residue_Name", "Interaction_Count", "Total_Contact_Prob", "Average_B_Factor", "Average_PAE"];

            // Generate header
            columnOrder.forEach(header => {
                tableHTML += `<th>${header}</th>`;
            });
            tableHTML += '</tr>';

            // Generate rows
            data.forEach((row, index) => {
                tableHTML += '<tr>';
                tableHTML += `<th>${index + 1}</th>`;
                columnOrder.slice(1).forEach(key => {
                    tableHTML += `<td>${row[key]}</td>`;
                });
                tableHTML += '</tr>';
            });

            tableHTML += '</table>';
            return tableHTML;
        }

        function bindRowClickEvents() {
            document.querySelectorAll('table tbody tr').forEach(row => {
                row.addEventListener('click', function () {
                    // alert('Row clicked!');
                    document.querySelectorAll('table tbody tr').forEach(row => {
                        row.classList.remove('selected');
                    });
                    this.classList.add('selected');
                });
            });
        }

        function updateContent() {
            console.log("Radio option changed.");
        }
    </script>