<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count Interactions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/function2.css') }}">
</head>

<body>
    <div class="sidebar">
        <p>Sidebar content</p>
    </div>
    <div class="main-content">
        <h1>Alpha Find</h1>
        <div class="container">
            <div class="back-box">
                <a href="/" class="button">Return to upload page</a>
                <a href="/?action=showMessage" class="button">Return to analysis page</a>
            </div>
            <div id="chooseMethod" class="instruction">
                Choose your way to count interactions:
            </div>
            <form method="post" action="/count-interactions">
                <div class="options">
                    <label>
                        <input type="radio" name="method" value="interaction_number" onclick="updateContent();">
                        By Interaction number
                    </label>
                    <label>
                        <input type="radio" name="method" value="total_contact_probability" onclick="updateContent();">
                        By total contact probability
                    </label>
                </div>
                <div id="chooseChain" class="instruction">
                    Choose the chain you need to mutate:
                </div>
                <div class="options">
                    <label>
                        <input type="radio" name="chain" value="chainA" onclick="updateContent();">
                        chain A
                    </label>
                    <label>
                        <input type="radio" name="chain" value="chainB" onclick="updateContent();">
                        chain B
                    </label>
                    <div id="tableTitle" style="display:none;"></div>
                </div>
            </form>
            <label for="rangeSlider" class="instruction">Choose a number between 3 and 20:<br>You will get top n as your
                result</label>
            <p>Selected value: <span id="rangeValue">10</span></p>
            <input type="range" id="rangeSlider" name="rangeSlider" min="3" max="20" value="10">
            <button id="confirmButton" class="button">Confirm</button>
        </div>

        <div id="resultContainer" class="formContainer">
            <h2 id="resultTitle">Interaction Count</h2>
            <div id="resultTable"></div> <!-- Container to display the table -->
            <button id="downloadButton" style="display:none;" class="button">Save as CSV</button>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/func2-script.js') }}"></script>

</body>

</html>