<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Residue Pair Range</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/function1.css') }}">
</head>

<body>
    <div class="sidebar">
        <t>
            Function 1: Find residue pairs with the highest contact probability
        </t>
        <p>
            In this page, you will get the top n residue pairs between the two protein chains with the highest contact
            probability.<br><br>
            `Residue_1` and `Residue_2` columns show the No. of residues on each chain.<br>
            `PAE` means Predicted Aligned Error, which is used to quantify the confidence of the model's prediction of
            the relative positions between different residue (amino acid) pairs.<br>
            `Average_PAE_1/2` shows the average PAE value of each residue towards other residues, which can be used to
            determine whether the relative position of this residue is reliable in the predicted model.<br>
            `Average_B_factor_1/2` shows the average stability of all the atoms in this residue.<br>
            These information can be used as auxiliary information when choosing the mutation point.<br><br>
        </p>
        <t>
            Instruction
        </t>
        <p>
            `Choose a number between 3 and 20`: the number of residue pairs shown (Please note that if the corresponding
            value of the last residue pair is the same as the following one(s), these pairs will be shown
            together).<br><br>
            After choosing n, click `confirm` and wait for the result in the table below.<br><br>
            Both the result shown on the screen and the full statistics of all the interactions between the two chains
            can be saved in .csv format.<br>
        </p>
    </div>
    <div class="main-content">
        <h1>Alpha Find</h1>
        <div class="container">
            <div class="back-box">
                <a href="/" class="button">Return to upload page</a>
                <a href="/?action=showMessage" class="button">Return to analysis page</a>
            </div>
            <div id="instructionFindPair" class="instruction">
                Find the first n residue pairs with the highest contact probability.
            </div>
            <label for="rangeSlider" class="instruction">Choose a number between 3 and 20:</label>
            <p>Selected value: <span id="rangeValue">10</span></p>
            <input type="range" id="rangeSlider" name="rangeSlider" min="3" max="20" value="10">
            <button id="confirmButton" class="button">Confirm</button>
        </div>

        <div id="resultContainer" class="formContainer">
            <h2>Top Residue Pairs</h2>
            <div id="resultTable"></div> <!-- Container to display the table -->
            <button id="downloadButton" style="display:none;" class="button">Save as CSV</button> <!--download button-->
            <button id="fullDownloadButton" style="display:none;" class="button">Save full data</button>
            <!--download button 2-->
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/func1-script.js') }}"></script>

</body>

</html>