<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Residue Pair Range</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/function1.css') }}">
</head>

<body>
    <div class="sidebar">
        <p>Sidebar content</p>
    </div>
    <div class="main-content">
        <h1>Alpha Find</h1>
        <div class="container">
            <div class="back-box">
                <a href="/" class="button">Return to upload page</a>
                <a href="/?action=showMessage" class="button">Return to analysis page</a>
            </div>
            <div id="instructionFindPair" class="instruction">
                Find the first n residue pairs with the highest contact probability.
            </div>
            <label for="rangeSlider" class="instruction">Choose a number between 3 and 20:</label>
            <p>Selected value: <span id="rangeValue">10</span></p>
            <input type="range" id="rangeSlider" name="rangeSlider" min="3" max="20" value="10">
            <button id="confirmButton" class="button">Confirm</button>
        </div>

        <div id="resultContainer" class="formContainer">
            <h2>Top Residue Pairs</h2>
            <div id="resultTable"></div> <!-- Container to display the table -->
            <button id="downloadButton" style="display:none;" class="button">Save as CSV</button> <!--download button-->
            <button id="fullDownloadButton" style="display:none;" class="button">Save full data</button>
            <!--download button 2-->
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/func1-script.js') }}"></script>

</body>

</html>