<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Residue Pair Range</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/function4.css') }}">
</head>

<body>
    <div class="sidebar">
        <t>
            Function 4: Search the potential interactions of a specific residue
        </t>
        <p>
            In this page, you can search the predicted contact on a specific residue based on its chain and No.<br><br>
            If you've known some important residues in a protein chian (e.g. a widely discovered mutation point for a
            disease, the point of epigenetic modifications, etc.), you can search whether it's predicted as an important
            point for interactions by AlphaFold, and choose your final mutation point for further research.<br><br>
        </p>
        <t>
            Instruction
        </t>
        <p>
            Click the chain and type in the No. of the residue you're interested in. The number shouldn't exceed the
            length of the protein chain.<br><br>
            Click `confirm` and wait for the result.<br>
            If there's no predicted interaction, you'll see `No Interaction Found` in the green box below.<br>
            The searching result for this residue can be saved as .csv file.<br>
        </p>
    </div>
    <div class="main-content">
        <h1>Alpha Find</h1>
        <div class="container">
            <div class="back-box">
                <a href="/" class="button">Return to upload page</a>
                <a href="/?action=showMessage" class="button">Return to analysis page</a>
            </div>
            <div id="instructionSearch" class="instruction">
                Search the interactions of a specific residue you want to mutate.
            </div>
            <form method="post" action="/search-residue">
                <div id="chooseChain" class="instruction">
                    Choose the chain you need to search:
                </div>
                <div class="options">
                    <label>
                        <input type="radio" name="chain" value="chainA" onclick="updateContent();">
                        chain A
                    </label>
                    <label>
                        <input type="radio" name="chain" value="chainB" onclick="updateContent();">
                        chain B
                    </label>
                </div>
                <div id="residueNumber" class="instruction">
                    Type in the No. of the residue:
                </div>
                <input type="number" id="numberInput" name="numberInput" min="1">
                <button id="confirmButton" class="button">Confirm</button>
            </form>
        </div>

        <div id="resultContainer" class="formContainer">
            <h2 id="resultTitle">Interactions Found</h2>
            <div id="resultTable"></div> <!-- Container to display the table -->
            <button id="downloadButton" style="display:none;" class="button">Save as CSV</button> <!--download button-->
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/func4-script.js') }}"></script>

</body>

</html>