<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Find</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="sidebar">
        <p>Sidebar content</p>
    </div>
    <div class="main-content">
        <h1>Alpha Find</h1>
        <div class="container">
            <button id="clearUploads" class="button" onclick="clearUploads()">Clear Previous Uploads</button>
            <button id="clearFilesButton" class="button">Clear Previous Results</button>
            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <label for="file1">Upload full data (JSON format) HERE:</label>
                <input type="file" name="file1" id="file1" required><br><br>
                <label for="file2">Upload .cif file HERE:</label>
                <input type="file" name="file2" id="file2" required><br><br>
                <input type="submit" value="submit">
            </form>
            <div class="message-container">
                <div id="message" class="hidden success-message">
                    The files have been successfully uploaded and processed.
                </div>
                <a href="/" class="hidden button" id="returnLink">Return to upload page</a>
            </div>
            <div id="chooseFunction" class="hidden function-message">
                Please choose your ways for analysis:
            </div>
            <div id="buttonContainer" class="hidden transparent-box">
                <button id="findPairsButton" class="button">Find residue pairs with highest interaction
                    probability</button>
                <button id="countInteraction" class="button">Find residues with the most interactions or the highest
                    total
                    interaction probability</button>
                <button id="visualize" class="button">Visualize the distribution of interaction</button>
                <button id="search" class="button">Search interactions for a specific residue</button>
            </div>
        </div>
    </div>

    <script>
        // java scrpit begin
        document.getElementById('uploadForm').addEventListener('submit', function (event) {
            event.preventDefault(); // ban empty upload

            var formData = new FormData(this);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) { // check the success field
                        document.getElementById('uploadForm').classList.add('hidden');

                        document.getElementById('clearUploads').classList.add('hidden');
                        document.getElementById('clearFilesButton').classList.add('hidden');

                        document.getElementById('message').classList.remove('hidden');
                        document.getElementById('message').classList.add('visible');

                        document.getElementById('returnLink').classList.remove('hidden');
                        document.getElementById('returnLink').classList.add('visible');

                        document.getElementById('buttonContainer').classList.remove('hidden');
                        document.getElementById('buttonContainer').classList.add('visible');

                        document.getElementById('chooseFunction').classList.remove('hidden');
                        document.getElementById('chooseFunction').classList.add('visible');
                    } else {
                        alert('File upload failed.');
                    }
                })
                .catch(error => console.error('Error:', error));

            // new page: Find residue pairs with highest interaction probability
            document.getElementById('findPairsButton').addEventListener('click', function () {
                window.location.href = "/find-residue-pairs";
            });

            // new page: Find residues with the most interactions or the highest total interaction probability
            document.getElementById('countInteraction').addEventListener('click', function () {
                window.location.href = "/count-interactions";
            });

            // new page: Visualize the interactions
            document.getElementById('visualize').addEventListener('click', function () {
                window.location.href = "/visualization";
            });

            // new page: Search interactions for a specific residue
            document.getElementById('search').addEventListener('click', function () {
                window.location.href = "/search";
            });
        });
    </script>
    <script>
        // show the page after upload
        window.onload = function () {
            const urlParams = new URLSearchParams(window.location.search);
            const action = urlParams.get('action');

            if (action === 'showMessage') {
                // hide and show elements
                toggleElements();
                // rebind events to buttons
                bindButtonEvents();
            }
        };

        function toggleElements() {
            document.getElementById('uploadForm').classList.add('hidden');

            document.getElementById('clearUploads').classList.add('hidden');
            document.getElementById('clearFilesButton').classList.add('hidden');

            document.getElementById('message').classList.remove('hidden');
            document.getElementById('message').classList.add('visible');

            document.getElementById('returnLink').classList.remove('hidden');
            document.getElementById('returnLink').classList.add('visible');

            document.getElementById('buttonContainer').classList.remove('hidden');
            document.getElementById('buttonContainer').classList.add('visible');

            document.getElementById('chooseFunction').classList.remove('hidden');
            document.getElementById('chooseFunction').classList.add('visible');
        };

        function bindButtonEvents() {
            document.getElementById('findPairsButton').addEventListener('click', function () {
                window.location.href = "/find-residue-pairs";
            });

            document.getElementById('countInteraction').addEventListener('click', function () {
                window.location.href = "/count-interactions";
            });

            document.getElementById('visualize').addEventListener('click', function () {
                window.location.href = "/visualization";
            });

            document.getElementById('search').addEventListener('click', function () {
                window.location.href = "/search";
            });

            document.getElementById('returnLink').addEventListener('click', function () {
                window.location.href = "/";
            });
        };

        function clearUploads() {
            fetch('/clear-uploads', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Uploads cleared successfully!');
                    } else {
                        alert('Failed to clear uploads.');
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        document.getElementById('clearFilesButton').addEventListener('click', function () {
            fetch('/clear_files', {
                method: 'POST'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to clear files: ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    alert(data.message); // 显示服务器响应的消息
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                    alert('Error sending request: ' + error.message);
                });
        });
    </script>
</body>

</html>