<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Find</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="sidebar">
        <p>Sidebar content</p>
    </div>
    <div class="main-content">
        <h1>Alpha Find</h1>
        <div class="container">
            <button id="clearUploads" class="button" onclick="clearUploads()">Clear Previous Uploads</button>
            <button id="clearFilesButton" class="button">Clear Previous Results</button>
            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <label for="file1">Upload full data (JSON format) HERE:</label>
                <input type="file" name="file1" id="file1" required><br><br>
                <label for="file2">Upload .cif file HERE:</label>
                <input type="file" name="file2" id="file2" required><br><br>
                <input type="submit" value="submit">
            </form>
            <div class="message-container">
                <div id="message" class="hidden success-message">
                    The files have been successfully uploaded and processed.
                </div>
                <a href="/" class="hidden button" id="returnLink">Return to upload page</a>
            </div>
            <div id="chooseFunction" class="hidden function-message">
                Please choose your ways for analysis:
            </div>
            <div id="buttonContainer" class="hidden transparent-box">
                <button id="findPairsButton" class="button">Find residue pairs with highest interaction
                    probability</button>
                <button id="countInteraction" class="button">Find residues with the most interactions or the highest
                    total
                    interaction probability</button>
                <button id="visualize" class="button">Visualize the distribution of interaction</button>
                <button id="search" class="button">Search interactions for a specific residue</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/mainScript.js') }}"></script>
</body>

</html>