<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Find</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="sidebar">
        <t>
            Tool Introduction
        </t>
        <p>
            Alpha Find is a tool to help you analyze the raw file got from Alpha Fold 3 server.<br><br>
            If you are doing research on the interactions between two proteins and want to find the key residues
            involved in the interactions, this GUI can be of great help.<br><br>
            After uploading the raw files (which include a .json format file and a .cif format file) you got from Alpha
            Fold 3 server,
            you can get the statistics about the interactions with highest contact probability,
            the residues (in the chain you choose) with the highest total contact probability or the most interactions
            between two protein chains,
            the visualization of the interactions on the protein chains,
            and search your residues of interest.<br><br>
            These statistics can help you decide the residues you're going to mutate first in the next stage of
            experiment.<br>
        </p>
        <t>
            Instruction
        </t>
        <p>
            After typing in the sequence of the proteins you're researching on, the Alpha Fold 3 server will give back
            the result in a .zip file.
            After unpacking, you'll get five .json files end up with `full_data_` followed by a number and five .cif
            files end up with `model_` followed by a number.
            These are the results given by five different models.<br><br>
            Choose one .json and one .cif for your analysis and make sure their ending numbers are the same.
            Upload the two files according to the hints in the green box.<br><br>
            If you've used this tool before, REMEMBER to clear the previous upload and results BEFORE A NEW TRY.<br><br>
            Once the files have been successfully submitted, you can choose a way to analyze from the four choice given
            in the box.<br><br>
            `Return to upload page` if you want to change the files you've submitted.<br>
        </p>
    </div>
    <div class="main-content">
        <h1>Alpha Find</h1>
        <div class="container">
            <button id="clearUploads" class="button" onclick="clearUploads()">Clear Previous Uploads</button>
            <button id="clearFilesButton" class="button">Clear Previous Results</button>
            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <label for="file1">Upload full data (JSON format) HERE:</label>
                <input type="file" name="file1" id="file1" required><br><br>
                <label for="file2">Upload .cif file HERE:</label>
                <input type="file" name="file2" id="file2" required><br><br>
                <input type="submit" value="submit">
            </form>
            <div class="message-container">
                <div id="message" class="hidden success-message">
                    The files have been successfully uploaded and processed.
                </div>
                <a href="/" class="hidden button" id="returnLink">Return to upload page</a>
            </div>
            <div id="chooseFunction" class="hidden function-message">
                Please choose your ways for analysis:
            </div>
            <div id="buttonContainer" class="hidden transparent-box">
                <button id="findPairsButton" class="button">Find residue pairs with highest interaction
                    probability</button>
                <button id="countInteraction" class="button">Find residues with the most interactions or the highest
                    total
                    interaction probability</button>
                <button id="visualize" class="button">Visualize the distribution of interaction</button>
                <button id="search" class="button">Search interactions for a specific residue</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/mainScript.js') }}"></script>
</body>

</html>